[submodule "vesselsynth"]
	path = vesselsynth
	url = ./vesselsynth
[submodule "cornucopia"]
	path = cornucopia
	url = https://github.com/balbasty/cornucopia/
[submodule "vesselseg"]
	path = vesselseg
	url = ./vesselseg
